<!DOCTYPE html>
<html>
<head>
    <title>Handling of HTTP GET and POST requests</title>
    <style>
        div {
            width: 400px;
            border: 1px solid green;
            margin-bottom: 5px;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div>
        <h1>Handle GET Request</h1>
        <form method="GET" action="{{ url_for('handle_get') }}">
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="password" required>
            <button type="submit">Submit</button>
        </form>
    </div>

    <div>
        <h1>Handle POST Request</h1>
        <form method="POST" action="{{ url_for('handle_post') }}">
            <input type="text" name="username" placeholder="username" required>
            <input type="password" name="password" placeholder="password" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
